<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691754792967-konp9f640cakml210qp6jhmmtimbcvmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691754792967-konp9f640cakml210qp6jhmmtimbcvmq</string>
	<key>API_KEY</key>
	<string>AIzaSyBI45ZEvT33y8ZJegDZoejmt1vAYrxAD4o</string>
	<key>GCM_SENDER_ID</key>
	<string>691754792967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.serhii.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a2ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a2ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691754792967:ios:f0c819034389d86e8492a2</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-a2ae5.firebaseio.com</string>
</dict>
</plist>